<div class='container'>

  <div id="content" class="animated fadeIn">
    <div class="row">
      <div class="col-xs-12 col-sd-8 col-sd-offset-2">

        <section>
          <div class="section-heading">
            <h2>Colin Densem</h2>
            <h4>Web Developer, Founder and Climber</h4>
          </div>

          <p>
            I'm a creative type of person.
            I see solutions where others don't.
            I'll take a box of bits and create something.
          </p>
          <p>
            When I'm not working I'm trying to cling to rock faces as a climber.
            It's actually quite relaxing once safely up and down.
          </p>
          <p>
            I co-founded a community for Skoda owners;
            <a href="http://www.briskoda.net" target=_new>briskoda.net</a>.
            It's respected as one of the best owners/motoring forums.
            In 2013 it was also a top <a href="http://www.hitwise.com/index.php/uk/awards/winners/automotive/" target=_new>10 visited UK site for automotive recreation</a>.
          </p>
        </section>
        <section>
          <div class="section-heading">
            <h2>What I bring</h2>
          </div>


          <p>
            I've been working in IT for over 15 years.
            In this time I've worked with multi system, multi-national manufacturing and logistics projects through to single page websites for self employed people.
          </p>
          <p>
            My approach is to understand your problem, really get into your shoes.
            We'll then discover what's needed to achieve a solution.
            Then I'll deliver working software to achieve that solution.
            We'll review and maintain the solution as your needs change.
          </p>
          <p>
            When it's deemed not possible, I've looked for a way to make it possible.
            I'll also use my connections to skilled professionals in order to provide extra specialist skills.
          </p>

          <p>
            If you're looking to start-up with an idea,
            or are already established but need to grow, please talk to me.
            I am confident I can help you on your path from idea through to a
            successful web application &amp; business.
          </p>
        </section>
        <section>
          <div class="section-heading">
            <h2>Asking Why?</h2>
          </div>
          <p>
            Being able to ask why is crucial. Why do you want feature x?
            Getting to the root of the problem is paramount.
            This process often drives out crucial findings and is a valuable exercise in it's own.
            More often we discover that a 'vital' feature isn't actually needed, saving you time and money.
          </p>
          <p>
            There are many tools and theories about how to plan, execute and maintain projects.
            I take a practical approach that works for us both, that's the right way, our way.
          </p>
        </section>


      </div>
    </div>



  </div>



</div>