<section id="hero" class="hero">
  <div class="container">
    <div class="text-center">
      <h1>Making web based solutions for you.</h1>
      <div class="feature-box feature-box-animated">
        <a {{action 'goToLink' "index" "#what"}} href="">
          <div class="icons">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-arrow-circle-o-down fa-stack-1x fa-inverse"></i>
        </span>
          </div>
          <span class="link">scroll down</span>
        </a>
      </div>
      <!--<div class="scroll-down-hint text-center">-->
      <!--&lt;!&ndash;<i class="fa fa-arrow-circle-o-down fa-2x fa-bounce"></i> Scroll down&ndash;&gt;-->
      <!--</div>-->
    </div>
  </div>
</section>
<a name="what"></a>
<section id="what" class="pad-section">

  <div class="container">

    <div class="row">
      <div class="col-md-4 text-center">
        <div class="section-heading">
          <h2>Development.</h2>
        </div>
        <p class="lead">
          I develop bespoke web applications for you.
            </p>
          <p>
          Working with you to understand your challenges, we'll work out the solution required.
          It is my goal, to see you with the very best solution for your needs.
          I work with well known web technologies, like Ruby on Rails &amp EmberJs/MeteorJs.
          All work is done with clear communications and a focus on delivering what you need.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="section-heading">
          <h2>Startups.</h2>
        </div>
        <p class="lead">
          If you think you have a great idea, it is important to validate it early on.
            </p>
          <p>
          A popular approach is to build a "Minimal Viable Product" or MVP.
          We'll focus on the core idea, establish as few features as is required.
          Then strive to get something built as fast as possible.
          You can begin to measure your customers use and feedback.
          If they love it, then you can take it further.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="section-heading">
          <h2>Consulting.</h2>
        </div>
        <p class="lead">
          I love working out problems and sharing.
            </p>
          <p>
          Over 20 years of working with companies &amp; people discussing their challenges.
          Not everything is solved with a software solution, or needs replacing with bigger &amp; better widgets.
          I'll work with you, to give you a suitable agenda for your next steps.
          I can work with teams or individuals to coach and develop systems.
          Alternatively we can just discuss and brainstorm a specific challenge.
        </p>
      </div>
    </div>
  </div>
</section>